<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>アカウント登録</title>
		<link href="/list.css" rel="stylesheet"></link>
		<meta charset="utf-8" />
	</head>

	<body>
	    <h1>アカウント登録画面</h1>    
	    
	    <!--エラー表示-->
	    <table>
        	<tr th:if="${validationError}" th:each="error : ${validationError}">
            <td style="color: red;" th:text="${error}"></td>
        	</tr>
    	</table>
    
	    <form th:action="@{/user/input}" name="form" th:object="${form}" method="post">
			
			<label>
				<p>名前</p>
				<input type="text" th:field="*{name}" placeholder="山田太郎">
			</label>
			<!--バリデーションチェックでエラーがあった場合は、エラーメッセージを表示-->
			<p th:if="${validationError}" style="color: red;" th:text="${name}"></p>
			
			<label>
				<p>名前（ふりがな）</p>
				<input type="text" th:field="*{kana}" placeholder="やまだたろう">
			</label>
			<p th:errors="*{kana}"></p>
			
			<label>
				<p>電話番号</p>
				<input type="text" th:field="*{phone}" placeholder="999-9999-9999">
			</label>
			<p th:errors="*{phone}"></p>

			<label>
				<p>メールアドレス</p>
				<input type="text" th:field="*{email}" placeholder="sample001@gmail.com">
			</label>
			<p th:errors="*{email}"></p>

			<label>
				<p>生年月日</p>
				<input type="date" th:field="*{birthday}" name="calendar" max="9999-12-31" placeholder="1992/10/02">
			</label>
			<p th:errors="*{birthday}"></p>
				
			<label>
				<p>ログインパスワード（半角英数字8文字以上）</p>
				<input type="password" th:field="*{password}" placeholder="testpass0201">
			</label>
			<p th:errors="*{password}"></p>
			
			<label>
				<p>（確認用）パスワード（半角英数字8文字以上）</p>
				<input type="password" th:field="*{confirmpass}" placeholder="testpass0201">
			</label>
			<p th:errors="*{confirmpass}"></p>
			
			<input type="submit" value="アカウント登録">
		</form><br>
		
		<a th:href="@{/user/login}">ログイン画面に戻る</a>
	</body>
</html>