<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>無限スクロール</title>
		<link href="/list.css" rel="stylesheet"></link>
		<script src="/app.js"></script>
		<meta charset="utf-8" />
	</head>

	<body>
	    <h1>無限スクロール機能・テスト画面</h1>
	
		<div class="scroll" data-max="20" data-lastnum="2">
			<img src="/images/cafe2.jpg" />
			<img src="/images/sweet1.jpg" />
			<img src="/images/sweet2.jpg" />
			<img src="/images/sweet3.jpg" />
			<img src="/images/sweet4.jpg" />
			<img src="/images/sweet5.jpg" />
			<img src="/images/sweet6.jpg" />
			<img src="/images/sweet7.jpg" />
			<img src="/images/sweet8.jpg" />
			<img src="/images/sweet9.jpg" />
			<img src="/images/sweet10.jpg" />
		</div>
	</body>
</html>